body {
    background-color: crimson;
}

header {
    height: 370px;
    color: white;
}

.mecz {
    color: white;
}

.mecz:hover {
    color: red;
}

main,
#lewy,
#prawy {
    background-color: whitesmoke;
}

main {
    height: 50px;
}

#lewy {
    width: 70%;
    height: 230px;
}

#prawy {
    width: 30%;
    height: 230px;
}